@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600;800&family=Inter:wght@300;400;500;700&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:'Inter', sans-serif;
  background:
    radial-gradient(circle at top, rgba(124,58,237,0.16), transparent 20%),
    radial-gradient(circle at right, rgba(59,130,246,0.10), transparent 25%),
    radial-gradient(circle at left bottom, rgba(124,58,237,0.08), transparent 18%),
    #030712;
  color:white;
}

a{
  color:white;
  text-decoration:none;
}

h1,h2,h3,.logo,.hero-title{
  font-family:'Orbitron', sans-serif;
}

button{
  transition:0.3s ease;
}

button:hover{
  transform:translateY(-2px);
  box-shadow:0 0 18px rgba(124,58,237,0.5);
}